# Reality Veto Module Deployment Config
# SafeDAO Safe that will enable the module, and that owns the Reality module
VETO_SAFE_ADDRESS=
# SafeSnap Reality module proxy owned by that Safe
VETO_REALITY_MODULE_ADDRESS=
# Account permitted to veto proposals
VETOER_ADDRESS=
